---
import "@/styles/global.css"
import Navbar from "@/components/Navbar.tsx"
import Footer from "@/components/Footer.tsx"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>minpan.dev</title>
    <script is:inline>
      const getThemePreference = () => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme")
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light"
      }
      const isDark = getThemePreference() === "dark"
      document.documentElement.classList[isDark ? "add" : "remove"]("dark")
    </script>
  </head>
  <body
    class="flex min-h-screen flex-col bg-background font-sans text-foreground antialiased selection:bg-primary selection:text-primary-foreground"
  >
    <Navbar client:load />
    <main class="flex flex-grow flex-col pt-24 pb-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
